<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="nav">
    <div class="row">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand text-dark" th:href="@{/}">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active text-dark" aria-current="page" th:href="@{/add}">Dodaj produkt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div th:fragment="footer">
    <footer th:class="|footer text-center|">Wszelkie prawa zastrzeżone <span>Adam Janiczek &copy; 2024</span></footer>
</div>
</body>
</html>